.review {
  &-section {
    padding-top: 25px;
    padding-bottom: 65px;
    background-image: url(../images/review-bg-mobile.png);
    background-size: cover;
    @include bg-standard-properties();
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 1;
    }
  }

  &-wrapper {
    position: relative;
    z-index: 2;
  }

  &-heading {
    left: 100%;
    transform: translateX(-100%);
    margin-bottom: 40px;
  }
  
  &-photos {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 35px;
    position: relative;

    &-item {
      display: none;
    }

    &-main {
      position: relative;
      display: inline-block;

      &::after {
        content: '';
        display: block;
        position: absolute;
        border: 3px solid $dark-beige-color;
        top: -15px;
        right: -15px;
        bottom: -15px;
        left: 15px;
        z-index: -1;
      }
    }
  }

  &-button {
    position: absolute;
    border: none;
    background-color: transparent;
    width: 24px;
    height: 24px;
    @include bg-standard-properties();
    background-size: auto;

    &-prev {
      display: none;
      background-image: url(../images/arrow-left.png);
    }

    &-next {
      background-image: url(../images/arrow-right.png);
      right: 0;
    }
  }

  &-name {
    color: $orange-color;
    font-weight: 700;
    margin-bottom: 10px;
  }

  &-text {
    color: $dark-beige-color;
  }
}

@media (min-width: 768px) {
  .review {
    &-section {
      padding-top: 30px;
    }

    &-container {
      padding: 0 60px;
    }

    &-photos {
      margin-bottom: 35px;

      &-item {
        display: block;
        margin-right: 8px;
      }

      &-main {
        width: 180px;
        height: 269px;
        margin-right: 22px;

        &-pic {
          width: 180px;
          height: 269px;
        }
      }
    }

    &-button {
      &-prev {
        display: inline-block;
        left: -40px;
      }

      &-next {
        right: -40px;
      }
    }

    &-interview {
      width: 440px;
      margin-left: 18vw;
    }
  }
}

@media (min-width: 992px) {
  .review {
    &-section {
      padding-top: 45px;
      padding-bottom: 100px;
    }

    &-photos {
      width: 700px;
      margin: 0 auto 50px;

      &-item {
        width: 134px;
        height: 200px;
      }

      &-main {
        width: 197px;
        height: 293px;

        &-pic {
          width: 197px;
          height: 293px;
        }
      }
    }

    &-button {
      &-prev {
        display: inline-block;
        left: -55px;
      }

      &-next {
        right: -55px;
      }
    }

    &-interview {
      width: 600px;
      margin-left: 33%;
    }
  }
}