* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.wrapper {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.home-section {
    background-image: url(./images/Background-Home-Section.png);
    background-color: #6f2220;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40px;
    color: #ffffff;
    padding-bottom: 260px;
}

.logo {
    display: inline-block;
    width: 90px;
    height: 23px;
    margin-right: 510px;
    vertical-align: middle;
}

.navigation {
    display: inline-block;
    font-size: 0;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
    margin-right: 35px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.nav-link:last-child {
    margin-right: 0;
}

.home-captions {
    margin-right: auto;
    margin-left: auto;
    width: 600px;
    text-align: center;
    margin-top: 245px
}

.home-heading {
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 25px;
}

.home-motto {
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: 0;
}

.get-started-container {
    text-align: center;
    margin-top: 48px;
}

.get-started-link {
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    border-radius: 2px;
    border: 2px solid #ffffff;
    text-decoration: none;
    padding: 10px 30px;
    display: inline-block;
}

.get-started-link:hover {
    background-color: #ffffff;
    color: #c0301c;
}

.section {
    color: #555555;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 95px;
    padding-top: 95px;
}

.light-section {
    background-color: #ffffff;
}

.heading-container {
    margin-bottom: 66px;
}

.section-heading {
    margin-top: 0;
    font-family: Montserrat;
    font-size: 20px;
    text-transform: uppercase;
}

.section-heading::after {
    content: ' ';
    display: block;
    width: 50px;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #555555;
}

.section-paragraph {
    margin-bottom: 0;
    font-family: "Roboto Slab";
    font-size: 16px;
}

.service-item {
    display: inline-block;
    width: 360px;
    margin-right: 23px;
}

.service-item:last-child {
    margin-right: 0;
}

.service-pic {
    width: 90px;
    height: 90px;
    border: 2px solid #dddddd;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
}

.typography-pic {
    background-image: url(./images/Clean-typography.png);
}

.code-pic {
    background-image: url(./images/Rock-solid-code.png);
}

.support-pic {
    background-image: url(./images/Expert-support.png);
}

.item-heading {
    font-family: Montserrat;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 0;
}

.section-description {
    font-family: "Roboto Slab";
    font-size: 14px;
    margin-bottom: 0;
}

.dark-section {
    background-color: #f8f8f8;
}

.about-us-text {
    column-count: 2;
    text-align: left;
    column-gap: 30px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 65px;
    white-space: pre-line;
}

.slider {
    position: relative;
    font-size: 0;
}

.slider-button {
    position: absolute;
    width: 35px;
    height: 38px;
    top: 105px;
    background-color: #c0301c;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    border: 0;
}

.slider-next {
    right: 0;
    background-image: url(./images/arrow-next.png);
}

.slider-prev {
    background-image: url(./images/arrow-prev.png);
}

.slider-button:disabled {
    background-color: rgba(85, 85, 85, 0.5);
}

.slider-item {
    display: inline-block;
    margin-right: 29px;
}

.slider-item:last-child {
    margin-right: 0;
}

.slider-pic {
    margin-bottom: 15px;
    position: relative;
    width: 263px;
    height: 250px;
}

.slider-pic-effect {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(85, 85, 85, 0.5);
    display: none;
    padding-top: 190px;
}

.slider-pic:hover .slider-pic-effect {
    display: block;
}

.social-link {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    width: 28px;
    height: 28px;
    display: inline-block;
}

.facebook {
    background-image: url(./images/Facebook_Logo.png);
}

.twitter {
    background-image: url(./images/Twitter_Logo.png);
}

.googleplus {
    background-image: url(./images/Google_Plus_Logo.png);
}

.linkedin {
    background-image: url(./images/linkedin-logo.png);
}

.social-link:hover {
    background-color: #c0301c;
}

.position-title {
    font-family: "Roboto Slab";
    font-size: 13px;
}