.faq {
  &-section {
    padding-top: 30px;
    padding-bottom: 85px;
    position: relative;

    &::after {
      content: '';
      display: none;
      width: 11px;
      height: 130px;
      position: absolute;
      right: 20%;
      bottom: -65px;
      background-image: url(../images/two-stripes.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &-heading {
    margin-bottom: 40px;
  }

  &-question {
    &:not(:last-child) {
      margin-bottom: 40px;
    }

    &-container {
      margin-bottom: 55px;
    }

    &-heading {
      color: #383d52;
      font-size: 20px;
      line-height: 30px;
      font-weight: 600;
      margin-bottom: 35px;
    }
  }

  &-order {
    &-container {
      padding: 45px 20px 55px;
      position: relative;

      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 94px;
        height: 102px;
        top: 0;
        right: 0;
        background-image: url(../images/question-icon320.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    &-text {
      width: 75%;
      margin-bottom: 30px;
    }

    &-question {
      font-size: 16px;
      line-height: 30px;
      font-style: italic;
    }

    &-action {
      font-size: 20px;
      line-height: 30px;
      font-weight: 600;
    }
  }

  &-input {
    color: #fff;
    border-color: #fff;
    width: 90%;

    &::placeholder {
      color: #fff;
    }

    &-name {
      margin-bottom: 20px;
    }

    &-phone {
      margin-bottom: 40px;
    }
  }
}

@media (min-width: 750px) {
  .faq {
    &-section {
      padding-top: 40px;
      padding-bottom: 105px;

      &::after {
        display: block;
      }
    }

    &-heading {
      margin-bottom: 55px;
    }

    &-order {
      &-container {
        padding-right: 30px;
        padding-bottom: 50px;
        padding-left: 35px;

        &::after {
          background-image: url(../images/question-icon750.png);
          width: 241px;
          height: 241px;
          top: -73px;
          right: -28px;
        }
      }

      &-button {
        width: 30%;
        position: relative;
        z-index: 1;
      }
    }

    &-form {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    &-input {
      width: 25%;
      margin-bottom: 0;
    }
  }
}

@media (min-width: 992px) {
  .faq {
    &-section {
      padding-top: 60px;
      padding-bottom: 170px;

      &::after {
        left: 50%;
        margin-left: -5px;
      }
    }

    &-heading {
      margin-bottom: 65px;
    }

    &-question {
      margin-bottom: 55px;
      width: 48%;

      &-container {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        max-height: 570px;
        flex-wrap: wrap;
        align-content: space-between;
      }
    }

    &-order {
      &-container {
        padding-right: 70px;
        padding-left: 310px;

        &::after {
          background-image: url(../images/question-icon1170.png);
          left: 30px;
          top: 0;
        }
      }
    }
  }
}